<article class="card <%= sub.desbloqueado === 0 ? 'card--block' : '' %>">
    <header class="card__header <%= sub.desbloqueado === 0 ? 'card__header--block' : '' %>">
        <h3 class="card__title <%= sub.desbloqueado === 0 ? 'card__title--block' : '' %>">
            <!-- Cuestionario inicial   -->
            <%= sub.titulo %>
        </h3>
        <i class="card__icon fa-solid <%= sub.desbloqueado === 0 ? 'fa-lock card__icon--block' : sub.rutaIcono %>"
            aria-label=""></i>
    </header>
    <p class="card__description">
        <!-- Analiza el punto de dónde partes, qué es lo que sabes y lo que te falta. -->
        <%= sub.descripcion %>
    </p>
    <a <%= sub.desbloqueado === 1 ? `href=/fase/1/modulo/${sub.id}` : '' %> class="card__button  <%= sub.desbloqueado === 0 ? 'card__button--block' : '' %>">
        <span class="card__button-text">
            <%= sub.desbloqueado===1 ? 'Ir' : 'Bloqueado' %>
        </span>
        <i class="fa-solid <%= sub.desbloqueado === 0 ? 'fa-lock' : 'fa-right-long' %>" aria-hidden="true"></i>
    </a>
</article>