<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>hola</title>
</head>
<body>
    <div class="page">
<!--Llamada al sidebar-->
    <%- include('partials/sidenavbar') %>

    <!--Llamada al header-->
    <%- include('partials/header') %>

    <main class="content">
HOLI    
    </main>


    <!--Llamada al sidebar anuncios-->
    <%- include('partials/sidebar-anuncios') %>
    <!--Llamada al footer-->
    <%- include('partials/footer') %>
    </div>
    
</body>
</html>